* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', Arial, sans-serif;
	color: #424242; /* grey 800 */
}

body {
	background-color: #F5F5F5; /* grey 100 */
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 4em;
	background-color: #3F51B5; /* indigo 500 */
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}

.nav-search {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.search-bar {
    width: 100%;
    padding: 0 2em;
}

nav > a {
	color: #F5F5F5; /* grey 100 */
	text-decoration: none;
}

.user-nav {
	display: flex;
	align-items: center;
	color: #F5F5F5; /* grey 100 */
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.8em;
	padding: 0 4em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

article {
    width: 70%;
}

.btn, form button {
    display: flex;
	text-decoration: none;
	background-color: #E0E0E0; /* grey 300 */
	border: none;
	font-size: 1em;
	padding: .5em 1em;
	margin: 0 1em;
	border-radius: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
	color: black;
}

.btn:hover {
	border-color: #3F51B5; /* indigo 500 */
}

input, select {
	border: none;
	border-radius: 3px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

nav input {
    box-shadow: none;
}

input:focus {
	outline: none;
	border-color: #3F51B5; /* indigo 500 */
}

@media screen and (max-width: 1054px) {
    article {
        width: 85%;
    }

    .btn {
        margin: 0;
    }
}

@media screen and (max-width: 824px) {
    article {
        width: 95%;
    }

    .btn {
        padding: .2em .5em;
        margin: 0;
    }
}

/* Floating action button */
.fab {
    position: fixed;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50; /* green 500 */
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    text-decoration: none;
}

.fab-bottom-right {
    bottom: 3em;
    right: 3em;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }