html {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	background-color: #EEEEEE; /*grey 200 */
}

header {
	height: 5vh;
	background-color:#3F51B5; /*indigo 500 */
	line-height: 5vh;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search {
	width: 70%;
	margin: 0 auto;
}

.search-field {
	width: 90%;
}

.search-submit {
	width: 9%;
}

#hero-title {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	font-size: 3em;
	text-transform: uppercase;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #7986CB; /*indigo 300 */
}

.copyright {
	display: block;
	margin: 0 auto;
}

.card {
	width: 70%;
	height: 15vh;
	background-color: #fff;
	margin: 1rem auto;
	font-size: 1.5em;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.photo-thumb {
	display: inline-block;
	width: 15vh;
	height: 15vh;
	margin: 0 auto;
}

.photo-container {
	float: left;
	width: 20%;
}

.text-container {
	display: inline-block;
	margin: 0 auto;
	width: 60%;
}

.buttons-container {
	float: right;
	width: 20%;
}

.name {
	font-size: 2em;
}

.search-heading {
	margin-left: 15%;
	padding: 2vh 0;
}
