<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<title>Employee edit | Employee register</title>
	<style>{{ source('./main.css') }}</style>
	<style>{{ source('./employee-edit/employee-edit.css') }}</style>
</head>

<body>
	<nav>
		<a href="/evizam/homepage">
			<img src="/evizam/assets/img/ic_home_black_24px.svg" alt="Home" width="24px" height="24px">
		</a>
		<form class="search">
			<input type="search" name="search" placeholder="Search employees by name or email adress ..." class="search-bar">
			<input type="button" class="btn" value="Search">
		</form>

		<span class="user-nav">
			<img src="/evizam/assets/img/ic_person_black_24px.svg" alt="Profile picture" class="thumbnail">
			John
		</span>
	</nav>

    <header>
        <h1>Editing employee #user#</h1>
    </header>

	<main>
		<article>
            <form>
                <img src="/evizam/assets/img/ic_person_black_24px.svg" alt="Profile picture" class="profile_picture">
                <input type="text" class="name" value="John Doe"></input>
                <input type="text" class="position" value="IT manager"></input>
                <input type="email" class="email" value="doejohn@example.com"></input>
                <input type="tel" class="tel" value="123 456 789"></input>
                <input type"url" class="web" value="www.example.org"></input>
                <textarea class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum pariatur architecto voluptatibus adipisci distinctio dolores explicabo. Reprehenderit ea maiores nemo non ullam, quo vero nam dolorem. Atque, illum excepturi dolores corrupti dignissimos eligendi reprehenderit veritatis est accusamus quis voluptate praesentium unde impedit fugit sit consequatur quasi fuga facilis sunt eius quo accusantium vero harum? Eum veniam provident alias at fuga unde sint dicta eaque odit temporibus! Fugit, labore possimus. Unde inventore laudantium quaerat nam libero quidem assumenda, consectetur quasi! Accusantium debitis illum cum provident, sed atque impedit nulla quod modi cupiditate numquam. Ab aliquid, cum voluptatibus eos repellat officia earum?
                </textarea>
                <button class="btn save">Save</button>
            </form>
		</article>
	</main>

	<footer>
		Tomas Trejdl | trejdtom | FIT CVUT | 2017
	</footer>
</body>
</html>