<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% stylesheets
        'assets/css/main.css'
        'assets/css/form.css'
        'assets/css/material-colors.css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav>
    <a href="{{ path('homepage') }}">
        <i class="material-icons">home</i>
    </a>
    <form class="search nav-search">
        <input type="search" name="search" placeholder="Search employees by name or email adress ..." class="search-bar" disabled>
        <input type="button" class="btn" value="Search" disabled>
    </form>

    <a href="{{ path('my-accounts-list', {'employee_id': 1}) }}" class="user-nav">
        <i class="material-icons">person</i>
        John Doe
    </a>
</nav>

{% block body %}{% endblock %}

<footer>
    Tomas Trejdl | trejdtom | FIT CVUT | 2017
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
