<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% stylesheets
        'assets/css/main.css'
        'assets/css/form.css'
        'assets/css/material-colors.css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% if app.request.get('_route') != 'login' %}
    {% import 'header.html.twig' as header %}
    {{ header.nav }}
{% endif %}

{% block body %}{% endblock %}

<footer>
    Tomas Trejdl | trejdtom | FIT CVUT | 2017
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
