{% extends "::base.html.twig" %}

{% block title %} Accounts | Employee register{% endblock %}

{% block stylesheets %}
    {% stylesheets 'assets/css/accounts.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <header>
        <h1>{{ employee.firstName ~ " " ~ employee.lastName}}'s Accounts</h1>
    </header>

    <main>
        <article>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Valid To</th>
                </tr>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.username }}</td>
                    <td>{{ account.validTo | date("d.m.Y") }}</td>
                </tr>
                {% endfor %}
            </table>
        </article>
    </main>
{% endblock %}
