header {
    margin-top: 4em;
}

main {
    height: calc(100vh - 4em - 1.8em - 3.5em);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: .5em;
    text-align: center;
}

article {
    height: 95%;
    background-color: #fff;
    padding: 3em;
    border-radius: 2px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    font-size: 1.2em;
}

.arrow-back {
    position: absolute;
    top: 8em;
    left: 5%;
}

#account_validTo {
    display: flex;
    flex-direction: row;
}

#account_validTo select {
    width: initial;
    height: initial;
    padding: 0 1em;
    margin: 0 .5em;
}