{% extends "::base.html.twig" %}

{% block title %}Homepage | Employee register{% endblock %}

{% block stylesheets %}
    {% stylesheets 'assets/css/core/homepage.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <main>
        <h1 class="hero-title">Employee register</h1>
        <form id="search" class="hero-search" method="get">
            <input type="search" name="search" placeholder="Search employees by name or email adress ..." class="search-bar" autofocus  disabled>
        </form>
        <div class="submit-buttons">
            <a href="{{ path('search') }}" class="btn show-all">Show All</a>
            <input form="search" type="button" class="btn submit" value="Search" onclick="location.href='{{ path('search') }}';"  disabled>
            <input form="search" type="button" class="btn lucky" value="I'm feelin' lucky!"  disabled>
        </div>
    </main>
{% endblock %}