.search-bar {
    font-size: 1em;
    width: 30vw;
    padding: 0.5em 2em;
}

.user-nav {
	color: #F5F5F5; /* grey 100 */
}

header {
	margin-top: 3em;
}

article {
	width: 70%;
	height: 15vh;
	background-color: #fff;
	margin: 1rem auto;
	padding: 1em 2em;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;

	display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .2em;
	grid-template-areas: 
		"thumbnail name ."
		"thumbnail position ."
		"thumbnail email edit";
	border: 1px solid transparent;
}

article:hover {
	border: 1px solid #3F51B5; /* indigo 500 */
}

.thumbnail {
	grid-area: thumbnail;
}

.name {
	grid-area: name;
	font-size: 1.5em;
}

.position {
	grid-area: position;
}

.email {
	grid-area: email;
}

.edit {
	grid-area: edit;
	justify-self: center;
	align-self: center;
	padding: .3em 1em;
}