<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<title>Homepage | Employee register</title>
	<style>{{ source('./main.css') }}</style>
	<style>{{ source('./homepage/homepage.css') }}</style>
</head>

<body>
	<nav>
		<a href="/evizam/homepage">
			<img src="/evizam/assets/img/ic_home_black_24px.svg" alt="Home" width="24px" height="24px">
		</a>

		<span class="user-nav">
			<img src="/evizam/assets/img/ic_person_black_24px.svg" alt="Profile picture" class="thumbnail">
			John
		</span>
	</nav>

	<main>
		<h1 class="hero-title">Employee register</h1>
		<form id="search" class="hero-search" action="/search.php" method="get">
			<input type="search" name="search" placeholder="Search employees by name or email adress ..." class="search-bar" autofocus>
		</form>
		<div class="submit-buttons">
			<input form="search" type="button" class="btn" value="Search" onclick="location.href='search';">
			<input form="search" type="button" class="btn" value="I'm feelin' lucky!">
		</div>
	</main>

	<footer>
		Tomas Trejdl | trejdtom | FIT CVUT | 2017
	</footer>
</body>
</html>