table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: .5em;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}

table tr:hover {
    background-color: #DDD;
}

table th {
    padding: .8em 0;
}

.action-btn {
    visibility: hidden;
    text-decoration: none;
}

tr:hover .action-btn {
    visibility: visible;
}