article {
	display: grid;
    grid-template-columns: 50% 1fr;
	grid-template-rows: repeat(5, 10%) 4fr 1fr;
    grid-gap: .2em;
	grid-template-areas:
		"photo name"
		"photo position"
		"photo email"
		"photo tel"
		"photo web"
		"description description"
		". edit";
}

.profile_picture {
	grid-area: photo;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15em;
}

.name, .position, .email, .tel, .web {
	justify-self: center;
}

.name {
	grid-area: name;
	font-size: 1.5em;
}

.position {
	grid-area: position;
}

.email {
	grid-area: email;
}

.tel {
	grid-area: tel;
}

.web {
	grid-area: web;
}

.description {
	grid-area: description;
}

.edit {
	grid-area: edit;
	justify-self: end;
	align-self: center;
    padding: .5em 2em;
    margin: 0;
}

@media screen and (max-width: 824px) {
    .arrow-back {
        display: none;
    }
}