h1{
    text-align: center;
}

.employee-info {
	display: grid;
    grid-template-columns: 50% 1fr;
	grid-template-rows: repeat(5, 10%) 4fr 1fr;
    grid-gap: .2em;
	grid-template-areas:
		"photo name"
		"photo position"
		"photo email"
		"photo tel"
		"photo web"
		"description description"
		". edit";
}

.profile_picture {
	grid-area: photo;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15em;
}

.name, .position, .email, .tel, .web {
	justify-self: center;
}

.name {
	grid-area: name;
	font-size: 1.5em;
}

.position {
	grid-area: position;
	display: flex;
    align-items: center;
}

.position > * {
    margin: 0 .3em;
}

.email {
	grid-area: email;
}

.tel {
	grid-area: tel;
}

.web {
	grid-area: web;
}

.description {
	grid-area: description;
}

.edit {
	grid-area: edit;
	justify-self: end;
	align-self: center;
    padding: .5em 2em;
    margin: 0;
}

@media screen and (max-width: 824px) {
    .arrow-back {
        display: none;
    }
}

table {
	border-collapse: collapse;
	width: 100%;
}

table td, table th {
	padding: .5em;
	text-align: center;
}

table tr:nth-child(even) {
	background-color: #F2F2F2;
}

table tr:hover {
	background-color: #DDD;
}

table th {
	padding: .8em 0;
}

.action-btn {
	visibility: hidden;
	text-decoration: none;
}

tr:hover .action-btn {
	visibility: visible;
}

.create-account {
    color: white;
    margin-top: 1rem;
}