{% extends "::base.html.twig" %}

{% block title %}Login | Employee register{% endblock %}

{% block stylesheets %}
    {% stylesheets 'assets/css/core/login.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <main class="bg-grey-200">
        <article>
            <span class="color-indigo-500">EMPLOYEE REGISTER</span>
            <h1>Login</h1>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button type="submit" class="bg-indigo-500 color-grey-200">Login</button>
            </form>
        </article>
    </main>
{% endblock %}